.bar rect { fill: #B0EBFF; }
.focus-label, .focus {fill: orange;}
.domain {stroke: #999; fill: none; }
.axis-label {fill: #666;}
.tick line {stroke: #999;}
.tick text {
	font-size: 11px;
    fill: #ABB4C3;
}
path {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

line {
  fill: black;
}

.x-middle {
  stroke: red;
}

.y-middle {
	stroke: green;
}

/* ------------------------------------------*/
body {
	padding-top: 20px;
}

.charts {
	position: relative;
}

.charts:after {
	display: block;
	height: 0;
	clear: both;
}

.chart {
	position: relative;
	float: left;
}

.info {
	min-height: 50px;
	position: fixed;
	top: 0;
	width: 60%;
	left: 10%;
}

.info .data {
	font-size: 13px;
	color: #fff;
	padding: 10px 10px;
	background-color: #0f9d58;
	display: none;
	opacity: 0;
	transition: opacity .3s ease;
	z-index: 222;
}

.data.hover {
	display: block;
	opacity: 0.9;
}
